################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Espia/Espia-Server/EspiaServer/__pycache__
/Espia/Espia-Client-vstudio/Debug
/Espia/Espia-Client-vstudio/Release
/Espia/Espia-Client-vstudio/.vs/Espia-Client-vstudio/v16
